*.class
*.jar
*.war
*.ear
*.pydevproject
.project
.metadata
target/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
dependency-reduced-pom.xml

